body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCCCCC;
}
.envolve {
	width: 766px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#corpo {
	background-image: url(app/imagens/login_logo.png);
	background-repeat: no-repeat;
	height:300px;
}
#login_topo {
	float: left;
	height: 175px;
	width: 375px;
}
#form_login{
	float: right;
	width: 380px;
	height: 175px;
	position:relative;
	margin-right:0;
	margin-top: 0;
	margin-bottom:0;
	font-size:12px;
}
#tabela_login {
	margin-top: 10px;
}
#retorno{
}
.mensagem_erro{
	color:#FF0000;
}
.mensagem_ok{
	color:#00CC00;
}
.label{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#333333;
	height:15px;	
	padding::0;
}
.campos{
	height:15px;
	
}
input[type=text] input[type=password]{
	font-size:10px;
	height:17px;
	padding:0;
}
input[type=radio]{
	font-size:9px;
	height:15px;
	padding:0;
}