#corpo {
	height: 870px;
	width: 766px;
}
#topo {
	background-image: url(../imagens/principal_topo.png);
	height: 75px;
}
#topo_inferior {
	background-color: #CCCCCC;
	height: 30px;
}
#topo_tabela {
	height: 75px;
	width: 766px;
}
